/* CSS Document */

body {
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
	font-weight: bold;
	}

/*CABECERA*/
#masthead {
	margin: 0;
	background: url(images/header.png) no-repeat;
	height: 120px;
	width: 925px;
}

h1 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	margin:0;
	padding:0;
	}
	

h2, h3 {
	font-family:Arial, Helvetica, sans-serif;
	/*color: #006699;*/
	padding-left:20px;
	}
	

h2 {
	margin-bottom: .8em;
	font-size: 1.6em;
	font-weight: normal;
	}


h3 {
	margin-bottom: 1em;
	text-transform: uppercase;
	letter-spacing: 2px;
	font: bold x-small Verdana, Arial, Helvetica, sans-serif;
	}


p, blockquote, ul, ol{
	margin-bottom: 1.4em;
	line-height: 1.8em;
	text-align: justify;
	}


p, ul, ol {
	margin-bottom: 1.4em;
	font-weight: normal;
	font-size: 85%;
	text-align: justify;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	}


blockquote {
	margin-left: 2em;
	margin-right: 2em;
	font-style: italic;
	}


a {
   color: maroon;
   margin-bottom:0;
   padding-bottom:0;
   
	}


a:hover {
	text-decoration: underline;
	}


img {
	border:none;
	}


/* Content */

#content {
	width: 890px;
	background-color: #ffffff;
	}
	
	
#pageHeader {
	top:1px;
	background-image:url(images/cabecera.jpg);
 	height:150px;
	}


/* Content > Main */

#main {
	float: right;
	position:absolute;
	left:227px;
	top:5px;
	width: 700px;
	height:510px;
	overflow: auto;
/*	background-color:#EEF8EE;*/
	background-color: #f2f2f2;
	margin-top: 120px;	/* espacio para la cabecera */
	}


#main h1 {
	font-family:Arial, Helvetica, sans-serif;
	color: #330066;
	font-size:24px;
	}



#main h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bolder;
	text-align:left;
	color: #330066;
	}
	
#main p {
	padding:10px;
	}
	

#main .descripciones{
	padding-left:30px;
	padding-right:30px;
	padding-bottom:45px;
	text-align:justify;
	line-height: 2em;
	}


#bodymain {
	/*float: right;*/
	width: auto;
	position:absolute;
	border: 1px solid #b8b8b8;
	}
	
/* Content > Sidebar */

#sidebar {
	position:absolute;
	left:1px;
	top:5px;
	width:222px;
	background-color: #ffffff;
	margin-top: 120px;	/* espacio para la cabecera */
	}


/* DESPLEGABLE */

.glossymenu {
	border: 1px solid #b8b8b8;
	height:447px;
	}
.glossymenu  a.menuitem {
	position: relative;
	}

.submenuheader{
	padding: 0 0 0 20px;
	}
	
	
.glossymenu a.menuitem:link {
	/*font: medium Times, Verdana, Helvetica, sans-serif;*/
	font: small fantasy;
	/*color: #787878;*/
	color: maroon;
	}

.glossymenu a.menuitem:hover {
	color: #000000;
	width:auto;
	}
	
.glossymenu a.menuitem:active {
 	color: #000000;
	width:auto;	
	}
	
.glossymenu a.menuitem:visited {
	color: #000000;
	width:auto;
}

.glossymenu div.submenu { /*DIV that contains each sub menu*/
	/*border-left:#99CC99 1px solid;
	border-bottom:1px solid  #99CC99;*/
	/*margin-left:15px;*/
	/*background:url(images/submenubgunder.jpg) ;*/
	
	}
	

.glossymenu div.submenu ul { /*UL of each sub menu*/
	width:auto;
	margin: 0;
	padding: 0;
	padding-bottom: 20px;
	}

.glossymenu div.submenu ul li{
    margin-left:18px;
	list-style: none;
	background: url(images/doc.gif) left bottom no-repeat;
	padding-left: 15px;
}

.glossymenu div.submenu ul li a {
	padding-left:5px;
	font:  x-small "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
	color: #000000;
	}
	
.imglibroabierto{
	background: url(images/fo.gif) left  no-repeat;
}


.imglibrocerrado{
	background: url(images/fc.gif) left  no-repeat;
}

/* Content > Sidebar > Temas */

#temas {
	margin-bottom: 1px;
	width:220px;
	border: 1px solid #b8b8b8;
	background-color: #ffffff;
	color: #330066;
	}

#footer{
	font-size:smaller;
	float:right;
	padding-left:30px;
	}